<div class ="bg-light w-100">

    <p class="fw-bold fs-5" id="balance">Balance: $100</p>

    <div class="d-flex">
        <div id="diceValue"
            class="rounded-circle bg-primary text-white d-flex align-items-center justify-content-center ms-0"
            style="width: 100px; height: 100px; font-size: 1.5rem; font-weight: bold;">
            ?
        </div>
    </div>

    <br>
    <div class="d-flex">
        <p class="mb-0"> Show Key :</p>
        <input class="form-check-input ms-2" type="checkbox" id="secretKeyCheckBox">
        <p1 class="ms-2 d-none text-danger" id="secretKeyCheckBoxValue">0</p1>
    </div>
    <br>
    <div id="message" class=" text-white fs-3 text-primary bg-primary">Message Area</div>
    <br>
    <div >
        <p>Bet on Odd/Even (2x winnigs)</p>
        <div class="d-flex align-items-center" id = "radioEvenOdd">

            <!-- Radio Buttons (Odd and Even) -->
            <div class="ms-3">
                <input type="radio" id="odd" name="oddbetType" value="odd" checked>
                <label for="odd">Odd</label>
            </div>
            <div class="ms-3">
                <input type="radio" id="even" name="evenbetType" value="even" >
                <label for="even">Even</label>
            </div>

            <!-- Dropdown for Bet Value -->
            <div class="ms-3">
                <select id="EvenOddbetValue" class="form-select">
                    <option value="">Select a bet amount</option>
                    <option value="10">10</option>
                    <option value="20">20</option>
                    <option value="30">30</option>
                </select>
            </div>
        </div>
    </div>



    <div >
        <p>Bet on Range (3x winnigs)</p>
        <div class="d-flex align-items-center" id = "radioRange">

            <!-- Radio Buttons (Odd and Even) -->
            <div class="ms-3">
                <input type="radio" id="1-2" name="1-2betType" value="1-2" checked>
                <label for="1-2">1-2</label>
            </div>
            <div class="ms-3">
                <input type="radio" id="3-4" name="3-4betType" value="3-4">
                <label for="3-4">3-4</label>
            </div>
            <div class="ms-3">
                <input type="radio" id="5-6" name="5-6betType" value="5-6">
                <label for="5-6">5-6</label>
            </div>

            <!-- Dropdown for Bet Value -->
            <div class="ms-3">
                <select id="RangebetValue" class="form-select">
                    <option value="">Select a bet amount</option>
                    <option value="10">10</option>
                    <option value="20">20</option>
                    <option value="30">30</option>
                </select>
            </div>
        </div>
    </div>

    <div class="d-flex">
        <div>
            <button id="button-play-game" class="btn btn-outline-primary mt-3" disabled>Play</button>
        </div>

        <div class="ms-2">
            <button id="button-new-game" class="btn btn-outline-danger mt-3" disabled>New Game</button>
        </div>
    </div>


</div>

